@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E7E9D9, #86BFC1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5a8081af;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #062657;
    text-align: center;
    text-shadow: 1px 1px 2px #041939d8;
}

h2 {
    color: #224978;
}

p {
    text-align: justify;
}
